@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Grand Rapids PC Lounge</h1>
    <p><a href="home/register">Register for PC Time</a></p>
</div>
