<h1>Register Your Account!</h1>

<form action="submit" method="post">
    <p>Select A Username:</p>
    <input UserName type="text" name="UserName" required/>
    <p>Select A Password:</p>
    <input PassWord type="password" name="PassWord" minlength="5" maxlength="28" required/>
    <p>Input your Email:</p>
    <input Email type="email" name="Email" required/>
    <input submit type="submit" />
</form>

